<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Montserrat+Alternates">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home_styles.css') }}">
    </head>
    <body>
        <div class="navbar">
            <div class="logo">Dilektif</div>
            <div class="nav-links">
                <a href="https://github.com/haldonmez">Github</a>
            </div>
        </div>
        <div class="parallax-container">
            <div class="half-circle"></div>
            <div class="parallax-content">
                <h1>DİLEKTİF</h1>
                <div class="arrow">
                    <a href="#second-page" class="scroll-indicator">
                        <div class="scrolldown" style="--color: #1E611E">
                            <div class="chevrons">
                                <div class="chevrondown"></div>
                                <div class="chevrondown"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div id="second-page" class="second-page">
            <div class="container">
                <div class="items">
                    <div class="item" onmouseover="showText1()" onmouseout="hideText1()">
                        <button class="button" data-text="Awesome">
                            <span class="actual-text">&nbsp;Öğren!&nbsp;</span>
                            <span aria-hidden="true" class="hover-text vis">&nbsp;Öğren!&nbsp;</span>
                        </button>
                    </div>
                    <div class="item" onmouseover="showText2()" onmouseout="hideText2()">
                        <button class="button" data-text="Awesome">
                            <span class="actual-text">&nbsp;Dinle!&nbsp;</span>
                            <span aria-hidden="true" class="hover-text vis">&nbsp;Dinle!&nbsp;</span>
                        </button>
                    </div>
                    <div class="item" onmouseover="showText3()" onmouseout="hideText3()" onclick="navigateToIndex()">
                        <button class="button" data-text="Awesome">
                            <span class="actual-text">&nbsp;Yarış!&nbsp;</span>
                            <span aria-hidden="true" class="hover-text vis">&nbsp;Yarış!&nbsp;</span>
                        </button>
                    </div>
                </div>
                <div class="reveal-container">
                    <div class="reveal" id="text1">Etkileşimli Öğrenme modumuzla yazı yazma sanatında ustalaşın! Rehberli talimatlar ve ilgi çekici etkinliklerle harfleri ve rakamları takip ederek pratik yapın. Bu mod, el yazısı becerilerini geliştirmeye yardımcı olarak yazmayı öğrenmeyi hem eğlenceli hem de etkili hale getirir.</div>
                    <div class="reveal" id="text2">Dinleme modumuz ile dinleme becerilerinizi geliştirin. Sesleri harfler ve kelimelerle birleştirmeye yardımcı olan sesli hikayelerin, fonetik şarkıların ve telaffuz kılavuzlarının keyfini çıkarın. Bu mod, dinleyerek öğrenmeyi keyifli ve zenginleştirici bir deneyim haline getirir.</div>
                    <div class="reveal" id="text3">Rekabet modumuzla kendinize meydan okuyun! Heyecan verici oyunlar ve aktivitelerle yazma ve okuma becerilerinizi test edin. Yüksek puanlar için yarışın, ödüller kazanın ve ilerlemenizi takip ederek öğrenmeyi heyecan verici bir macera haline getirin.</div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/home_main.js') }}"></script>
    </body> 
</html>
