<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Montserrat+Alternates">
        <title>Yarış</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/icon.ico') }}">
    </head>
    <body>
        <div class="container2">
            <div class="navbar">
                <div class="logo"><a class="logo" href="/"><img id="icon_img" src="{{ url_for('static', filename='images/icon.png') }}" alt="Logo Icon" style="width: 1em; height: 1em; vertical-align: middle;">Dilektif | Yarış</a></div>
                <div class="nav-links">
                    <a href="https://github.com/haldonmez">Github</a>
                </div>
            </div>
            <div class="main-content">
                <div class="guide-card">
                    <button onclick="handleButtonClick2()"class="c-txt"><img class="c-txt"src="{{ url_for('static', filename='images/sound.png') }}" alt="Volume High Icon"></button>
                  </div>
                <div class="canvas-container" style="position: relative; width: 800px; height: 400px; margin-top: 80px; margin-bottom: -26px;">
                    <canvas id="canvas"></canvas>
                    <button type="button" class="btn btn-outline-secondary clearButton">X</button>
                </div>  
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    </body> 
</html>