<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Montserrat+Alternates">
        <title>Canvas Test</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/learn.css') }}">
    </head>
    <body>
        <div class="container2">
            <div class="navbar">
                <div class="logo"><a class="logo" href="/">Dilektif</a></div>
                <div class="nav-links">
                    <a href="https://github.com/haldonmez">Github</a>
                </div>
            </div>
            <div class="canvas-container" style="position: relative; width: 800px; height: 400px; margin-top: 80px; margin-bottom: -26px;">
                <img id="guideGif" src="{{url_for('static',filename='letters_gif/A.gif')}}" alt="Guide GIF">
                <canvas id="canvas"></canvas>
                <button type="button" class="btn btn-outline-secondary clearButton" style="border: none; margin-left: -34px; position: absolute; top: 0; right: 0;">X</button>
            </div>
            <div class="wrapper">
                <div><button class="item item1" data-value="a">A</button></div>
                <div><button class="item item2" data-value="b">B</button></div>
                <div><button class="item item3" data-value="c">C</button></div>
                <div><button class="item item4" data-value="d">D</button></div>
                <div><button class="item item5" data-value="e">E</button></div>
                <div><button class="item item6" data-value="f">F</button></div>
                <div><button class="item item7" data-value="g">G</button></div>
                <div><button class="item item8" data-value="h">H</button></div>
                <div><button class="item item9" data-value="i">I</button></div>
                <div><button class="item item10" data-value="j">J</button></div>
                <div><button class="item item11" data-value="k">K</button></div>
                <div><button class="item item12" data-value="l">L</button></div>
                <div><button class="item item13" data-value="m">M</button></div>
                <div><button class="item item14" data-value="n">N</button></div>
                <div><button class="item item15" data-value="o">O</button></div>
                <div><button class="item item16" data-value="p">P</button></div>
                <div><button class="item item17" data-value="q">Q</button></div>
                <div><button class="item item18" data-value="r">R</button></div>
                <div><button class="item item19" data-value="s">S</button></div>
                <div><button class="item item20" data-value="t">T</button></div>
                <div><button class="item item21" data-value="u">U</button></div>
                <div><button class="item item22" data-value="v">V</button></div>
                <div><button class="item item23" data-value="w">W</button></div>
                <div><button class="item item24" data-value="x">X</button></div>
                <div><button class="item item25" data-value="y">Y</button></div>
                <div><button class="item item26" data-value="z">Z</button></div>
            </div>
        </div>
        
        <script src="{{ url_for('static', filename='scripts/learn.js') }}"></script>
    </body> 
</html>
