<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
        <link rel="stylesheet" href="https://fonts.google.com/specimen/Montserrat+Alternates">
        <title>Listen</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/listen.css') }}">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>
    <body>
        <div class="container2">
            <div class="navbar">
                <div class="logo"><a class="logo" href="/">Dilektif</a></div>
                <div class="nav-links">
                    <a href="https://github.com/haldonmez">Github</a>
                </div>
            </div>
            <div class="main-content">
                <div class="guide-card">
                    <button onclick="clicked() "class="c-txt"><img class="c-txt"src="{{ url_for('static', filename='images/sound.png') }}" alt="Volume High Icon"></button>
                  </div>
                <div class="canvas-container" style="position: relative; width: 800px; height: 400px; margin-top: 80px; margin-bottom: -26px;">
                    <img id="guideGif" src="{{url_for('static',filename='letters_gif/B.gif')}}" alt="Guide GIF">
                    <canvas id="canvas"></canvas>
                    <button type="button" class="btn btn-outline-secondary clearButton">X</button>
                </div>  
            </div>
            <div class="wrapper">
                <div><button class="item item1">A</button></div>
                <div><button class="item item2">B</button></div>
                <div><button class="item item3">C</button></div>
                <div><button class="item item4">D</button></div>
                <div><button class="item item5">E</button></div>
                <div><button class="item item6">F</button></div>
                <div><button class="item item7">G</button></div>
                <div><button class="item item8">H</button></div>
                <div><button class="item item9">I</button></div>
                <div><button class="item item10">J</button></div>
                <div><button class="item item11">K</button></div>
                <div><button class="item item12">L</button></div>
                <div><button class="item item13">M</button></div>
                <div><button class="item item14">N</button></div>
                <div><button class="item item15">O</button></div>
                <div><button class="item item16">P</button></div>
                <div><button class="item item17">Q</button></div>
                <div><button class="item item18">R</button></div>
                <div><button class="item item19">S</button></div>
                <div><button class="item item20">T</button></div>
                <div><button class="item item21">U</button></div>
                <div><button class="item item22">V</button></div>
                <div><button class="item item23">W</button></div>
                <div><button class="item item24">X</button></div>
                <div><button class="item item25">Y</button></div>
                <div><button class="item item26">Z</button></div>
            </div>
        </div>
        
        <script src="{{ url_for('static', filename='scripts/listen.js') }}"></script>
    </body> 
</html>
